.has-error {
 background-color: mistyrose;
}

.has-feedback {
	margin-top: 10px;
}

.float-right {
	float: right;
}

.right-padding {
	padding-right: 10px;
}

.text-gray-light {
	color: #cccccc;
}

.no-data {
	padding: 100px;
	background-color: #f2f4f5 ;
}

.border {
	border: 1px solid black;
}

.bottom-border {
	border-bottom: 1px solid black;
}

.week {
	display: inline-block;
}

.top-buffer {
	margin-top: 20px;
}