<div class="col-md-12">
	<div class="container-fluid">
		{{#each sortedDays as |day|}}
			<div class="col-md-3 border">
				<h5 class="text-center">{{day.day}}</h5>
				<hr>
				<div class="week">
					{{#each day.drivers as |driver|}}
						<label>Driver: </label>
						{{driver.firstName}} {{driver.lastName}}
						<br>
						<br>
					{{/each}}
				</div>
				<div class="week float-right">
					{{#each day.vehicles as |vehicle|}}
					<label>Vehicle: </label>
						{{vehicle.model}}
						<br>
						<br>
					{{/each}}
				</div>
			</div>
		{{/each}}
	</div>
	<div class="col-md-2 col-md-offset-5 top-buffer">
		{{#link-to 'dashboard.schedules.add'}}
			<i class="fa fa-plus"></i>
			&nbsp;Add a day of the week
		{{/link-to}}
	</div>
</div>